.tab-pane {
    -fx-background-radius: 5px;
    -fx-background-color: #FFFFFF;
    -fx-background-color: transparent; /* Aucune couleur de fond */
    -fx-border-color: transparent; /* Aucune bordure */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 0, 0);
}

.tab-pane .tab-header-background {
    -fx-background-color: transparent;
}

.tab-pane .tab-header-area {
    -fx-padding: 2px;
    -fx-background-color: transparent; /* Aucune couleur de fond */
    -fx-border-color: transparent; /* Aucune bordure */
    -fx-background-color: #4285F4;
}

.tab-pane {
    -fx-background-radius: 5px;
    -fx-background-color: #FFFFFF;
    -fx-background-color: transparent; /* Aucune couleur de fond */
    -fx-border-color: transparent; /* Aucune bordure */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 10, 0.5, 0, 0);
}

.tab-pane .tab-header-background {
-fx-background-color: transparent; /* Aucune couleur de fond */
    -fx-border-color: transparent; /* Aucune bordure */
    -fx-background-color: transparent;
}

.tab-pane .tab-header-area {
    -fx-padding: 5px;
    -fx-background-color: transparent; /* Aucune couleur de fond */
    -fx-border-color: transparent; /* Aucune bordure */
    -fx-background-color: transparent; /* Fond transparent pour la zone d'en-tête */
}

/* Enleve ce carrer bleu de m*rde ! */
.tab-pane:focused .tab:selected {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.tab {
    -fx-background-radius: 5px 5px 0 0; /* Coins arrondis pour la partie supérieure des onglets */
    -fx-padding: 10px 15px;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-effect: none;
    -fx-background-color: transparent; /* Aucune couleur de fond */
    -fx-border-color: transparent; /* Aucune bordure */
    -fx-background-color: #4285F4; /* Couleur de fond pour les onglets non sélectionnés */
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: normal;
    -fx-font-size: 16px;
    -fx-transition: all 0.3s ease; /* Transition douce pour les changements d'état */
}

.tab:selected {
    -fx-background-color: #FFFFFF !important; /* Couleur de fond en blanc avec haute priorité */
    -fx-text-fill: #000000 !important; /* Couleur du texte en noir avec haute priorité */
}

.tab:hover {
    -fx-background-color: #3367D6; /* Changement de couleur au survol */
}

.combo-box {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #4285F4;
    -fx-border-radius: 5px;
    -fx-transition: all 0.3s ease; /* Animation douce pour le combobox */
}

.combo-box .list-cell {
    -fx-background-color: white;
    -fx-text-fill: #333333;
    -fx-padding: 10px;
}

.combo-box .list-cell:filled:hover, .combo-box .list-cell:filled:selected {
    -fx-background-color: #4285F4;
    -fx-text-fill: white;
    -fx-transition: background-color 0.3s ease; /* Transition douce au survol et à la sélection */
}

/* Style pour le conteneur des informations système */
.info-box {
    -fx-background-color: #f0f0f0; /* Couleur de fond */
    -fx-background-radius: 10px; /* Coins arrondis */
    -fx-border-color: #d0d0d0; /* Couleur de la bordure */
    -fx-border-width: 1px; /* Épaisseur de la bordure */
    -fx-border-radius: 10px; /* Rayon de la bordure arrondie */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0, 0, 5); /* Ombre portée */
    -fx-padding: 10px; /* Padding intérieur */
    -fx-margin: 10px; /* Marge extérieure */
}

.label {
    -fx-text-fill: #333333;
    -fx-font-size: 14px;
    -fx-font-weight: lighter;
    /* Autres styles existants pour .label */
}

.text-background {
    -fx-background-color: #d3d3d3; /* Couleur de fond gris */
    -fx-background-radius: 10px; /* Coins arrondis */
    -fx-padding: 10px; /* Espace entre le texte et le bord du rectangle */
    -fx-border-color: #a9a9a9; /* Couleur de la bordure */
    -fx-border-width: 1px; /* Épaisseur de la bordure */
    -fx-border-radius: 10px; /* Rayon de la bordure arrondie */
}


.combo-box .arrow-button {
    -fx-background-color: #4285F4;
    -fx-background-radius: 0px;
}

.combo-box .arrow {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 2px;
}

.combo-box:focused {
    -fx-border-color: #3367D6;
    -fx-border-radius: 5px;
}

.progress-bar {
    -fx-background-color: #e1e1e1;
    -fx-padding: 2;
    /* Animation de chargement pour la barre de progression */
    -fx-transition: all 0.5s ease;
}

.progress-bar > .bar {
    -fx-background-color: #0078d7;
}

.tab:selected {
    -fx-background-color: #FFFFFF;
    -fx-font-weight: bold;
}

.label {
    -fx-text-fill: #333333;
    -fx-font-size: 14px;
    -fx-font-weight: lighter;
}

.button {
    -fx-font-size: 25px;
    -fx-font-weight: 500;
    -fx-background-color: #FFFFFF; /* Définir sur blanc ou toute autre couleur de fond */
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #4285F4;
    -fx-padding: 15px 30px;
    -fx-border-color: transparent;
    -fx-background-radius: 5px;
    -fx-effect: none;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0, 0, 5);
    -fx-transition: all 0.3s ease; /* Transition douce pour les boutons */
}

.button:hover {
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #3367D6;
}

.button:pressed {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.button-hide {
    -fx-font-size: 18px;
    -fx-text-fill: #4285F4;
    -fx-background-color: transparent;
    -fx-padding: 5px;
    -fx-border-color: transparent;
    -fx-cursor: hand;
}

.button-hide:hover {
    -fx-text-fill: #3367D6;
}
